@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
}

@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    th,
    td {
        padding: 10px;
    }
}
